<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>
  
  <connectionStrings>
    <add name="con" connectionString="Data Source= LAPTOP-1N2B9A6J\SQLEXPRESS; Integrated Security=true;Initial Catalog= rudra; "
      providerName="System.Data.SqlClient" />
    <add name="rudraConnectionString" connectionString="Data Source=LAPTOP-1N2B9A6J\SQLEXPRESS;Initial Catalog=rudra;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
